
{% extends 'back/master.html' %}
{% load static %}

{% block mainblock %}
<!-- Datatables Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-table"></i>Edit News<br><small>You can add, edit and delete your news data!</small>
        </h1>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>About</li>
        <li><a href="/panel/news/edit/{{ pk }}">Edit</a></li>
    </ul>
</div>

<!-- Datatables Content -->
<div class="block full">
    <div class="block-title">
        <h2><strong>About</strong> Edit</h2>
    </div>


    <div class="table-responsive">

        <div class="row">
            <div class="col-md-12">
                <!-- Basic Form Elements Block -->
                <div class="block">
                    <!-- Basic Form Elements Title -->
                    <div class="block-title">

                        <h2><strong>Edit</strong> About</h2>
                    </div>
                    <!-- END Form Elements Title -->

                    <!-- Basic Form Elements Content -->
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                        {% csrf_token %}

                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea type="text" value id="abouttxt" name="abouttxt" rows="5" class="form-control" placeholder="About text">{{ abouttxt }}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
                            </div>
                        </div>
                        
                    </form>
                    <!-- END Basic Form Elements Content -->
                </div>
                <!-- END Basic Form Elements Block -->
            </div>

        </div>

    </div>


</div>
<!-- END Datatables Content -->

{% endblock %}

{% block footerblock %}
    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
    <script src="{% static 'back/js/helpers/ckeditor/ckeditor.js' %}"></script>

    <script>
        CKEDITOR.replace('abouttxt');
    </script>
{% endblock %}