
{% extends 'back/master.html' %}
{% load static %}

{% block mainblock %}
<!-- Datatables Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-table"></i>Block List<br><small>You can add, edit and delete your news data!</small>
        </h1>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Block</li>
        <li><a href="{% url 'block_list' %}">Lists</a></li>
    </ul>
</div>

<!-- Datatables Content -->
<div class="block full">
    <div class="block-title">
        <h2><strong>Block</strong> list</h2>
    </div>

    <!-- Basic Form Elements Content -->
    <form action="{% url 'add_blocked_ip' %}" method="post" class="form-horizontal form-bordered">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" id="ip_addr" name="ip_addr" placeholder="Add IP" required>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Add</button>
                </div>
            </div>
        </div>

    </form>
    <!-- END Basic Form Elements Content -->

    <div class="table-responsive">
        <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">IP</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>

                {% for blocklist in blocklists %}
                    <tr>
                        <td class="text-center">{{ blocklist.pk }}</td>
                        <td class="text-center">{{ blocklist.ip }}</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="{% url 'del_blocked_ip' pk=blocklist.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Remove</i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
<!-- END Datatables Content -->

{% endblock %}

{% block footerblock %}
    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
    <script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}