
{% extends 'back/master.html' %}
{% load static %}

{% block mainblock %}
<!-- Datatables Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-table"></i>Permissions<br><small>You can add, edit and delete your news data!</small>
        </h1>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Permissions</li>
        <li><a href="{% url 'manager_permission' %}">Lists</a></li>
    </ul>
</div>

<!-- Datatables Content -->
<div class="block full">

    <div class="row">
        <div class="col-md-12">
            <!-- Basic Form Elements Block -->
            <div class="block">
                <!-- Basic Form Elements Title -->
                <div class="block-title">

                    <h2><strong>Add</strong> Permissions</h2>
                </div>
                <!-- END Form Elements Title -->

                <!-- Basic Form Elements Content -->
                <form action="{% url 'manager_permission_add' %}" method="post" class="form-horizontal form-bordered">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Permission Name" required>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="cname" name="cname" placeholder="Permission Code Name" required>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Add</button>
                            </div>
                        </div>
                    </div>

                </form>
                <!-- END Basic Form Elements Content -->
            </div>
            <!-- END Basic Form Elements Block -->
        </div>

    </div>

    <div class="block-title">
        <h2><strong>Group</strong> list</h2>
    </div>

    <div class="table-responsive">
        <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Code Name</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>

                {% for perm in perms %}
                    <tr>
                        <td class="text-center">{{ perm.pk }}</td>
                        <td>{{ perm.name }}</td>
                        <td>{{ perm.codename }}</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="#" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil">Edit</i></a>
                                <a href="{% url 'manager_permission_del' name=perm.name %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Delete</i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
<!-- END Datatables Content -->

{% endblock %}

{% block footerblock %}
    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
    <script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}