
{% extends 'back/master.html' %}
{% load static %}

{% block mainblock %}
<!-- Datatables Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-table"></i>Manager List<br><small>You can add, edit and delete your news data!</small>
        </h1>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Manager</li>
        <li><a href="{% url 'manager_list' %}">Lists</a></li>
    </ul>
</div>

<!-- Datatables Content -->
<div class="block full">
    <div class="block-title">
        <h2><strong>Manager</strong> list</h2>
    </div>

    <div class="table-responsive">
        <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="text-center">ID</th>

                    <th class="text-center">Name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Username</th>

                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>

                {% for manager in managers %}
                    <tr>
                        <td class="text-center">{{ manager.pk }}</td>
                        <td>{{ manager.name }}</td>
                        <td>{{ manager.email }}</td>
                        <td>{{ manager.utxt }}</td>
                        
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="{% url 'users_groups' pk=manager.pk %}" data-toggle="tooltip" title="Group" class="btn btn-xs btn-default"><i class="fa fa-pencil">Group</i></a>
                                <a href="{% url 'manager_del' pk=manager.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Delete</i></a>
                                <a href="{% url 'users_permission' pk=manager.pk %}" data-toggle="tooltip" title="Permission" class="btn btn-xs btn-default"><i class="fa fa-pencil">Permission</i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
<!-- END Datatables Content -->

{% endblock %}

{% block footerblock %}
    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
    <script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}