
{% extends 'back/master.html' %}
{% load static %}

{% block scriptblock %}
    
{% endblock %}

{% block mainblock %}
<!-- Datatables Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-table"></i>Add News<br><small>You can add, edit and delete your news data!</small>
        </h1>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>News</li>
        <li><a href="{% url 'news_add' %}">Add</a></li>
    </ul>
</div>

<!-- Datatables Content -->
<div class="block full">
    <div class="block-title">
        <h2><strong>News</strong> Add</h2>
    </div>


    <div class="table-responsive">

        <div class="content-header">
            <div class="header-section">
                <h1>
                    <i class="gi gi-notes_2"></i>Form General Elements<br><small>Clean and professional forms for your UI!</small>
                </h1>
            </div>
        </div>
        <ul class="breadcrumb breadcrumb-top">
            <li>Forms</li>
            <li><a href="">General</a></li>
        </ul>
        <!-- END Forms General Header -->

        <div class="row">
            <div class="col-md-12">
                <!-- Basic Form Elements Block -->
                <div class="block">
                    <!-- Basic Form Elements Title -->
                    <div class="block-title">

                        <h2><strong>Add</strong> News</h2>
                    </div>
                    <!-- END Form Elements Title -->

                    <!-- Basic Form Elements Content -->
                    <form action="{% url 'news_add' %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="newstitle" name="newstitle" placeholder="News Title">
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-select select-chosen" id="newscat" name="newscat" aria-label="Default select example" name="example-chosen" style="width: 100%;">  
                                        <option selected>Choose a Category..</option>
                                        {% for cat in cats %}
                                            <option value="{{ cat.pk }}"> {{ cat.catname }} | {{ cat.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea type="text" id="newstxtshort" name="newstxtshort" rows="5" class="form-control" placeholder="Short text">News short text</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea type="text" rows="5" id="newstxt" name="newstxt" class="form-control" placeholder="Body text">News body text</textarea>
                                <!-- ckeditor -->
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="file" class="form-control" id="myfile" name="myfile" placeholder="News Title">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
                            </div>
                        </div>
                        


                    </form>
                    <!-- END Basic Form Elements Content -->
                </div>
                <!-- END Basic Form Elements Block -->
            </div>

        </div>

    </div>


</div>
<!-- END Datatables Content -->

{% endblock %}

{% block footerblock %}
    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
    <script>
        CKEDITOR.replace('newstxt');
        CKEDITOR.replace('newstxtshort');
    </script>
    
{% endblock %}