
{% extends 'back/master.html' %}
{% load static %}

{% block mainblock %}
<!-- Datatables Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-table"></i>Newsletter Phone numbers<br><small>You can add, edit and delete your news data!</small>
        </h1>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Newsletter</li>
        <li><a href="#">Phone numbers</a></li>
    </ul>
</div>

<!-- Datatables Content -->
<div class="block full">
    <div class="block-title">
        <h2><strong>Newsletter</strong> Phone numbers</h2>
    </div>

    <div class="table-responsive">
        <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Phones</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>

                {% for email in emails %}
                    <tr>
                        <td class="text-center">{{ email.pk }}</td>
                        <td class="text-center">{{ email.txt }}</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="#" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil">Edit</i></a>
                                <a href="{% url 'news_letter_del' pk=email.pk status=email.status %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Delete</i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
<!-- END Datatables Content -->

{% endblock %}

{% block footerblock %}
    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
    <script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}