
{% extends 'back/master.html' %}
{% load static %}

{% block mainblock %}
<!-- Datatables Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-table"></i>Comments List<br><small>You can add, edit and delete your comments data!</small>
        </h1>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Comments</li>
        <li><a href="{% url 'news_list' %}">Lists</a></li>
    </ul>
</div>

<!-- Datatables Content -->
<div class="block full">
    <div class="block-title">
        <h2><strong>Comments</strong> list</h2>
    </div>

    <div class="table-responsive">
        <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Comments</th>
                    <th class="text-center">News id</th>
                    <th class="text-center">Date | Time</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Actions</th>

                </tr>
            </thead>
            <tbody>

                {% for comment in comments %}
                    <tr>
                        <td class="text-center">{{ comment.pk }}</td>
                        <td>{{ comment.name }}</td>
                        <td>{{ comment.cm }}</td>
                        <td>{{ comment.news_id }}</td>
                        <td>{{ comment.date }} | {{ comment.time }}</td>
                        {% if comment.status == 0 %}
                            <td class="text-center"> Pending.. </td>
                        {% else %}
                            <td class="text-center"> Confirmed </td>
                        {% endif %}
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="{% url 'news_comment_confirmed' pk=comment.pk %}" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil">Confirmed</i></a>
                                <a href="{% url 'news_comment_del' pk=comment.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Delete</i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
<!-- END Datatables Content -->

{% endblock %}

{% block footerblock %}
    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
    <script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}